/* You can add global styles to this file, and also import other style files */
// List of font names
$fontList:
    'Sora-Bold',
    'Sora-ExtraBold',
    'Sora-ExtraLight',
    'Sora-Light',
    'Sora-Medium',
    'Sora-Regular',
    'Sora-SemiBold',
    'Sora-Thin'
;

@each $fontFamily in $fontList {
    @font-face {
        font-family: #{$fontFamily};
        src: url('assets/font/#{$fontFamily}.ttf') format("opentype");
     }
}

* {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
    background: linear-gradient(111.34deg, #140533 0%, #0A0A0A 100%);
    font-family: 'Sora-Regular', sans-serif;
    height: 100vh;
    width: 100vw;
    // overflow: hidden;
}

.dark {
    color: white;
    // max-height: 100%;
    .shimmer {
        width: 100%;
        // height: 50px;
        .skeleton-loader {
            border-radius: 8px;
            background: linear-gradient(90deg, rgba(20, 5, 51, 0.2) 0%, rgba(20, 5, 51, 0) 100%);
        }
    }
    .markdown-editor {
        width: 100%;
        display: grid;
        margin: -1em 0;
        pre {
            background: black;
            padding: 1em;
            border-radius: 12px;
            overflow: auto;
        }
    }
}



/* scrollbar */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    transform: translateX(13px);
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(78, 73, 87, 0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(255, 255, 255, 0.3);
}